@font-face {
  font-family: 'MuseumAAA';
  src: url('/fonts/museum-aaa-bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'NarkisBlockStudio';
  src: url('/fonts/NarkisBlockStudio-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NarkisBlockStudioThin';
  src: url('/fonts/NarkisBlockStudio-Thin.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}
